@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #fff;
  background: #09001d;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
  filter: drop-shadow(0 0 5px black);
}

.logo span {
  color: darkorange;
  font-weight: 700;
}

.navbar a {
  font-size: 18px;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
  color: darkorange;
}

.main {
  min-height: 100vh;
  background: url('background.webp') no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: auto;
  transition: .6s ease;
}

.main.active {
  filter: blur(15px);
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
  width: 200%;
}

.home {
  position: relative;
  left: -50%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 68px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0. .3);
  color: darkorange;
}

.home-content p {
  font-size: 18px;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0. .3);
  margin-bottom: 30px;
}

.home-content .start-btn {
  width: 190px;
  height: 55px;
  background: linear-gradient(145deg, navy, black, navy );
  border: 2px solid darkorange;
  outline: none;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: .5s;
}

.home-content .start-btn:hover {
  background: linear-gradient(145deg,  dodgerblue, hotpink, dodgerblue);
  box-shadow: none;
  border: 2px solid white;
  color: black;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 500px;
  background: whitesmoke; 
  border-radius: 6px;
  padding: 10px 25px;
  border: 3px solid navy;
  outline: 3px solid hotpink;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 50px;
  color: hotpink;
}

.popup-info .info {
  display: inline-block;
  font-size: 16px;
  color: navy;
  font-weight: 500;
  margin: 4px 0;
}

.popup-info .btn-group { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid navy;
  margin-top: 10px;
  padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: hotpink;
  border: 2px solid navy;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0. .1);
  cursor: pointer;
  transition: .6s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
  background: linear-gradient(145deg, hotpink, navy, hotpink);
  color: whitesmoke;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: linear-gradient(145deg, navy, hotpink, navy);
  color: whitesmoke;
}

.popup-info .btn-group .info-btn:nth-child(2) {
  background: linear-gradient(145deg, hotpink, navy, hotpink);
  color: whitesmoke;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: linear-gradient(145deg, navy, hotpink, navy);
  color: whitesmoke;
}

.quiz-section {
  position: relative;
  /* left: -50%; */
  left: 0;
  width: 100%;
  background: seagreen;
  transition: .8s ease-in-out;
  transition-delay: .25s;
  z-index: 100;
}

.quiz-section.active {
  left: 0;
}